// app global css in SCSS form

.primary-color {
    color: $primary;
}

.primary-button {
    background-color: $primary;
    color: black;
}

.btn-fixed-width {
    width: 160px;
}

.text-dark-1 {
  color: #141414 !important;
}
.bg-dark-1 {
  background: #141414 !important;
}